body {
  margin: 0; /* Réinitialisez les marges du corps */
  font-family: Arial, sans-serif; /* Utilisez la police de caractères appropriée pour l'entreprise */
  -webkit-font-smoothing: antialiased; /* Lissage des polices pour les navigateurs WebKit */
  -moz-osx-font-smoothing: grayscale; /* Lissage des polices pour les navigateurs Firefox sur macOS */
}

code {
  font-family: 'Courier New', Courier, monospace; /* Utilisez une police de code appropriée */
}
